admin:
  port: 9990
  ip: 0.0.0.0

namers:
  - kind: com.w5t.sr
    tenants:
      - appKey: SR_APP_KEY
        envName: SR_APP_ENV
        ingressAddr: SR_APP_ADDR
        passthroughUris:
          - "^/swagger-ui.html$"
          - "^/webjars/.*"
          - "^/swagger-resources$"
          - "^/swagger-resources/.*"
          - "^/v2/api.docs$"
          - "^/actuator.*"

routers:
  - protocol: http
    client:
      failureAccrual:
        kind: none
    identifier:
      - kind: com.w5t.stratiHeaders
    dtab: |
      /svc => /#/com.w5t.sr/out;
    httpAccessLog: /log/mesh/access-out.log
    httpAccessLogRollPolicy: 50.megabytes
    httpAccessLogAppend: true
    httpAccessLogRotateCount: 3
    label: out
    requestAuthorizers:
      - kind: com.w5t.policy
        policyEnd: Consumer
        alerting: spotlight
      - kind: com.w5t.soa10.rewriter
    servers:
      - port: 4140
        ip: 0.0.0.0

  - protocol: http
    identifier:
      - kind: com.w5t.soa10stratiHeaders
      - kind: com.w5t.stratiHeaders
      - kind: com.w5t.stratiPassthrough
    dtab: |
      /svc => /#/com.w5t.sr/in;
    httpAccessLog: /log/mesh/access-in.log
    httpAccessLogRollPolicy: 50.megabytes
    httpAccessLogAppend: true
    httpAccessLogRotateCount: 3
    label: in
    requestAuthorizers:
      - kind: com.w5t.policy
        policyEnd: Producer
        alerting: spotlight
    servers:
      - port: 4141
        ip: 0.0.0.0

telemetry:
  - kind: com.w5t.telemetry

usage:
  enabled: false